#dealer-cards, #player-cards {
    align: center middle;
    height: auto;
}

#dealer-value, #player-value {
    text-align: center;
    width: 100%;
    height: 1;
    margin: 0;
}

#chips-display {
    text-align: center;
    width: 100%;
    height: 1;
    margin: 1 0;
}
